@import './template/settings.css';
@import './template/theme.css';

:root {
  --backgroundColor: #2a2e33;

  --mainColor: #fff;
  --headingColor: #fff;
}

section.has-light-background,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
}
