@import './template/settings.css';
@import './template/theme.css';

@import '../../reveal.js/lib/font/league-gothic/league-gothic.css';
@import 'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic';

:root {
  --backgroundColor: #eff0f1;

  --mainColor: #2a2e33;
  --headingColor: #2a2e33;

  --linkColor: #f26223;
  --linkColorHover: #ff891f;
  --linkColorRolling: #f26223;
  --selectionBackgroundColor: #ff891f;
}

section.has-dark-background,
section.has-dark-background h1,
section.has-dark-background h2,
section.has-dark-background h3,
section.has-dark-background h4,
section.has-dark-background h5,
section.has-dark-background h6 {
  color: #fff;
}

section.has-dark-background.title,
section.has-dark-background.title h1,
section.has-dark-background.title h2,
section.has-dark-background.title h3,
section.has-dark-background.title h4,
section.has-dark-background.title h5,
section.has-dark-background.title h6 {
  text-shadow: 0px 5px 7px #000;
}

section.has-dark-background a {
  color: var(--linkColorHover);
}

section.has-dark-background a:hover {
  color: var(--linkColor);
}
