@import './theme/dark.css';
@import '../reveal.js/lib/font/league-gothic/league-gothic.css';
@import 'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic';

:root {
  --linkColor: #f26223;
  --linkColorHover: #ff891f;
  --linkColorRolling: #f26223;
  --selectionBackgroundColor: #ff891f;
}

.criteo .progress {
  background: transparent;
}

.criteo .progress span {
  background: linear-gradient(
    to right,
    var(--linkColor),
    var(--linkColorHover)
  );
}

.criteo .slide-number {
  background-color: transparent;
  color: var(--mainColor);
}
