@import './theme/dark.css';

:root {
  --mainFontSize: 42px;
  --mainFont: Arial;
  --headingFont: 'Century Gothic';
  --headingTextShadow: none;
  --headingLetterSpacing: normal;
  --headingTextTransform: uppercase;
  --headingFontWeight: 600;
  --linkColor: #f26223;
  --linkColorHover: #ff891f;
  --linkColorRolling: #f26223;
  --selectionBackgroundColor: #ff891f;

  --heading1Size: 2.2em;
  --heading2Size: 1.6em;
  --heading3Size: 1.2em;
  --heading4Size: 1em;
}

.criteo .progress {
  background: transparent;
}

.criteo .progress span {
  background: linear-gradient(
    to right,
    var(--linkColor),
    var(--linkColorHover)
  );
}

.criteo .slide-number {
  background-color: transparent;
  color: var(--mainColor);
}
